#app_browser{
  width: 60%;
	min-height: 650px;
  margin-left: 30px;
  margin-top: 20px;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.3);
}
#browser_tool_bar{
  height: 130px;
  border-bottom: solid 1px #d4d4d4;
}
.app_title{
  margin-left: 16px;
  height: 42px;
}
.title_app_icon{
  float: left;
  width: 54px;
  height: 54px;
  margin-top: -16px;
}
.title_app_name{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
	font-weight: 600;
	letter-spacing: -0.3px;
	text-align: left;
	color: #000000;
}
.button_close{
  cursor: pointer;
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../assets/button_close.svg);
  transition-property: all;
  transition-duration: .3s;
}
.button_close:hover{
  transform: scale(1.3);
  transition-property: all;
  transition-duration: .3s;
}
#browser_address{
  width: 80%;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 16px;
  border: 0;
	border-radius: 4px;
	background-color: #d8d8d8;
  font-size: 18px;
	letter-spacing: -0.2px;
	text-align: left;
	color: #4a4a4a;
}
#browser_iframe{
  position: absolute;
  border: 0;
  width: 100%;
  height: calc(100% - 130px);
}
