.keypad-button {
  color: white;
  font-size: 12px;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  background-color: #1d1d1d;
  border: solid 1px rgba(255, 255, 255, 0.44);
  margin: 2px;
  padding: 0;
}

button.keypad-button:active {
  background-color: #909090;
}

.keypad-button:hover {
  background-color: #505050;
}

.keypad-button:focus {
  outline: 0;
}

.handle-panel {
  background-image: url("./assets/panel.svg");
  height: 448px;
  width: 164px;
}

.handle {
  background-image: url("./assets/handle.svg");
  height: 51px;
  width: 231px;
  position: relative;
  top: 120px;
  right: 125px;
}

.indicator {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.keypad {
    padding-top: 15px;
    width: 87px;
    margin-left: auto;
    margin-right: auto;
}
